body[data-visaATM-page=about]{

}

.visaATMPage-about .visaATMPage {
	float: left;
    padding: 2%;
    width: 96%;
}

.visaATMAboutToggles .visaATMTogglee { padding: 0 0 0 32px !important; }


/* not sure if we need this...
.visaATMAboutToggles h3 {
	font-size: 13px;
	font-weight: bold;
}
*/

.visaATMAboutToggles p { padding: 0 0 10px 0 !important; }

.visaATMPage-about .visaATMTogglee p {background-color: #FFF; }

.visaATMAboutToggles h4 {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px !important;
	margin-bottom: -8px;
}

.visaATMAbout-disclaimer {font-size: 11px;}